*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:sans-serif;
}

.app {
  width: 1200px;
  padding-top: 50px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
  'header header'
  'navbar profile';
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 60px 1fr;
  grid-gap: 10px;
}

.appWrapperContent {
  background-color: #5584AC;
  grid-area: profile;
  border-radius: 5px;
  padding: 10px;
}